<nav class="navbar is-mobile">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/wordart.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div id="navbarBasicExample" class="navbar-menu is-active">
            <div class="navbar-start" id="nav">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/qpon/search">
                    Search
                </a>

            </div>

            <div class="navbar-end" id="nav-end">
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

<script>

    var adminNav = "<a class='navbar-item' href='/qpon/create'>\
                        Create\
                    </a>\
                    <a class='navbar-item' href='/qpon/admin'>\
                        Admin\
                    </a>";
    var memberNav = "<a class='navbar-item' href='/qpon/my_coupons'>\
                        My Redeemed Coupons\
                    </a>";
    var outNavEnd = "<div class='navbar-item'>\
                    <div class='buttons'>\
                        <a class='button'>\
                            Sign up\
                        </a>\
                        <a class='button' href='/user/login'>\
                            Log in\
                        </a>\
                    </div>\
                </div>";
    var inNavEnd = "<div class='navbar-item'>\
                    <div class='buttons'>\
                        <a class='button' href='/user/logout'>\
                            Log out\
                        </a>\
                    </div>\
                </div>";

    var nav = document.getElementById("nav");
    var navEnd = document.getElementById("nav-end");

    async function setNavbar() {
        
        var response = await fetch("/user/json", { method : "GET" });
        var json = await response.json();

        console.log(json);
        // Visitor
        if (json == "visitor") {
            navEnd.innerHTML += outNavEnd;
            return;
        }

        if (json.usertype == "admin") {
            console.log("adminNav");
            nav.innerHTML += adminNav;
        } else if (json.usertype == "member") {
            console.log("memberNav");
            nav.innerHTML += memberNav;
        }
        navEnd.innerHTML += inNavEnd;
    }

    setNavbar();

</script>