<table class="table">

    <th>ID</th><th>Title</th><th>Restaurant</th><th>Operation</th>
    <% qpons.forEach( function(qpon) { %>

        <tr><td><%= qpon.id %></td><td><%= qpon.title %></td><td><%= qpon.restaurant %></td>
            <td><form action="/qpon/update/<%= qpon.id %>"><button class="button is-link">Update/Delete</button></form></td></tr> 
 
    <% }); %>

</table>