<!-- create.ejs -->
<form action = "/qpon/create" method="POST">
    
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="title" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Restaurant</label>
        <div class="control">
            <input class="input" type="text" name="restaurant" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Region</label>
        <div class="control">
            <input class="input" type="text" name="region" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Mall</label>
        <div class="control">
            <input class="input" type="text" name="mall" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Image</label>
        <div class="control">
            <input class="input" type="text" name="image" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Quota</label>
        <div class="control">
            <input class="input" type="number" name="quota" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Expiry Date</label>
        <div class="control">
            <input class="input" type="text" name="expire" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Detail</label>
        <div class="control">
            <input class="input" type="text" name="detail" required>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button" type="submit">Submit</button>
        </div>
    </div>
    
</form>